{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<style>

    h2 {
        font-family:  'Clicker Script';
        font-size: 2.2em;
    }
    form, p {
        font-family: 'Trocchi';
        font-size: 1.2em;
    }

    .btn:hover
    {
        background-color: #3D486C;
       
    }

</style>



<div class="row shadow p-4 mb-5 bg-white rounded" style="margin: auto;">
    <div class="col-md-6 p-4">

    <h2 style="color: #F7BF48;">{% trans "Change Password" %}</h2>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      

        {% csrf_token %}

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
            {{form.oldpassword|as_crispy_field}}
        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
            {{form.password1|as_crispy_field}}
        </div>

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12">

            <!-- <div class="form-group">
                <label for="exampleInputEmail1">Password confirmation</label>
                {{form.password2}}
            </div> -->

            {{form.password2|as_crispy_field}}

            
        </div>

        

        <!-- <button type="submit" name="action" class="btn btn-outline-dark btn-sm">{% trans "Change Password" %}</button> -->

        <button type="submit" class="btn" style="background-color: #F7BF48;" >{% trans "Change Password" %}</button>
        
        <a style="color: black; font-size: 0.8em;"  href="{% url 'account_reset_password' %}">{% trans "Forgot Password ?" %}</a>
    </form>

    </div>
</div>

{% endblock %}